.naki-option-set {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
}

.naki-option-set label {
    width: 150px;
    text-align: right;
    margin-right: 5px;
}

.option-button {
    border: 1px solid gray;
    background-color: gray;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
  
.option-button.selected {
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}
