body {
  min-width: 800px;
  background-color: green;
  margin: 0;
}

.container {
  text-align: center;
  margin-top: 40px;
  padding: 0 10px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.option-container {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.naki-option-set {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
  width: 100%;
}

.naki-option-set label {
  width: 150px;
  text-align: right;
  margin-right: 5px;
}

.option-button {
  border: 1px solid gray;
  background-color: gray;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.option-button.selected {
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}

.tiles-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tiles, selected-tiles img {
  width: 47px;
  height: 63px;
  margin: 5px;
  cursor: pointer;
  object-fit: cover;
}

.error-text {
  font-size: 24px;
  font-weight: bold;
}

.hand-container {
  display: flex;
  align-items: center;
}

.kan-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.kan-checkbox {
  margin-top: -25px;
  margin-left: 10px;
  transform: scale(1.5); /* チェックボックスを大きく */
}

.kan-label {
  font-size: 24px; /* フォントサイズを大きく */
  font-weight: bold; /* フォントを太字に */
  margin-top: -30px;
  margin-left: 5px;
}

.selected-tiles {
  width: 47px;
  height: 63px;
  border: 2px solid white;
  margin-right: -2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hand-label {
  width: 111px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  margin-top: -30px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px;
}

.button-container button {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: lightgray;
}

.reset-button {
  margin-left: 80%;
  margin-top: 20px;
  border: 1px solid white;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}

.other-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.dropdown-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  width: 400px;
  text-align: center;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 400px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
}

.checkbox-container input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.checkbox-container input:disabled + span {
  color: gray;
}

.wind-option {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.wind-option label {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.wind-option > div {
  position: relative;
}

.wind-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 1000;
  width: 100px;
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: lightgray;
  cursor: pointer;
}
