body {
  background-color: green;
  margin: 0;
}

.container {
  text-align: center;
  margin-top: 40px;
  padding: 0 10px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.option-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0;
}

.naki-option-set1 {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  margin-left: 60px;
}

.naki-option-set2 {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  margin-left: 60px;
}

.option-button {
  border: 1px solid gray;
  background-color: gray;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
}

.option-button.selected {
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
}

.tiles-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.tiles, selected-tiles img {
  width: 47px;
  height: 63px;
  margin: 5px;
  cursor: pointer;
  object-fit: cover;
}

.error-text {
  font-size: 24px;
  font-weight: bold;
}

.hand-container {
  display: flex;
  align-items: center;
}

.selected-tiles {
  width: 47px;
  height: 63px;
  border: 2px solid white;
  margin-right: -2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hand-label {
  width: 111px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  margin-top: -30px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px;
}

.button-container button {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: lightgray;
}

.reset-button {
  margin-left: 80%;
  margin-top: 20px;
  border: 1px solid white;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}
